<div class="create">

    <div class="create-background">
        <div class="container mt-5">

            <div class="logo text-center">
                <img src="./images/logo_white.png" width=250>
            </div>

            <div class="row py-3 justify-content-center text-center">
                <div class="col-sm-12 col-md-6 create-form">
                    <h1 class="text-dark createTitle text-center">Create Account</h1>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="create-fname" aria-describedby="emailHelp"
                                placeholder="First Name">
                            <input type="text" class="form-control" id="create-lname" aria-describedby="emailHelp"
                                placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="create-email" aria-describedby="emailHelp"
                                placeholder="Enter Email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="create-password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="create-zip" placeholder="Zip Code">
                        </div>
                        <button type="submit" class="btn btn-primary" id="create-submit">Submit</button>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>