<div>
    <form id="account-form">
        <div class="form-group">
            <label for="first-name">First Name:</label>
            <input type="text" class="form-control" id="first-name" required>
        </div>
        <div class="form-group">
            <label for="last-name">Last Name:</label>
            <input type="text" class="form-control" id="last-name" required>
        </div>
        <div class="form-group">
            <label for="contact-number">Contact Number: <span>(5555555555)</span></label>
            <input type="number" class="form-control" id="contact-number" required>
        </div>
        {{!-- <div class="form-group">
            <label for="zip-code">Zip Code:</label>
            <input type="number" class="form-control" id="zip-code" required>
        </div>   --}}
        <button class="btn btn-primary" id="account-submit">Submit</button>
    </form>
</div>

 <script type="text/javascript" src="./js/account.js"></script>