/*styles for the background image*/
.kiosk .background-profile {
    background-image: url(../images/laura-lauch.jpg); 
    background-size: cover;
    background-position: center center;
    /* background-repeat: no-repeat; */
    /* height: 100vh; */
    width: 100%;
}
/*styles for the container and all its content*/
.kioskback {
    width: 75% !important;
    font-family: 'Montserrat', sans-serif;
    background: rgb(255, 255, 255, 0.8) !important;
    text-align: center;
    justify-content: center !important;
    border-radius: 10px;
}
.kiosk .header{
    font-family: 'Special Elite', cursive;
    padding-top: 15px;
    font-size: 55px;
}

.kiosk .back-btn {
    background-color: rgba(0, 0, 0, 0.945);
    float: left;
    color: white;
}

/* .kiosk .paymline {
    border-top: 0.5px dotted rgb(29, 28, 28);
    } */

.kiosk .reqline {
    border: solid 1px black;
}

.kiosk .req-divs {
    padding: 5px 0 5px 20px;
}

.kiosk .user-disp{
    margin-right: 20px;
}

.kiosk .btn-primary {
    color: white;
    background-color: #943e08 !important; 
    border: none !important;
}
.kiosk .btn-primary:hover {
    color: white;
    background-color: black !important;
}
.kiosk .button-div {
    padding: 15px !important;
    margin: 0 0 0 30px;
}

.kiosk .reqheader {
    padding: 30px 0;

}
/* .kiosk .requests {
    text-align: left;
    font-weight: bolder;
    justify-content: left;
    padding: 0;
} */

.kiosk .kiosk-block {
    background: rgb(255, 255, 255, 0.7) !important;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 10px 0;
    padding: 10px;
    font-weight: 700;

}

.kiosk .compReqs {
    width: 100%;
}
.kiosk .approvals {
    text-align: left;
    font-weight: bolder;
    padding-bottom: 20px;
}


.kiosk .denial {
    margin: 0 0 0 40px;
    text-align: left !important;
}



