/*styles for the background image*/
.transac .background-transactions {
    background-image: url(../images/eriks-abzinovs.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
}
.transac .row {
margin-right: 0px !important;
margin-left: 0px !important;
}

/*styles for logo*/
.transac-logo {
margin-left: 20px;
margin-top: 20px;
}
/*styles for content*/
.transac .header {
font-family: 'Special Elite', cursive;
font-size: 3rem;
padding-bottom: 3px;
padding-top: 25px;
}
.paymline {
border: 1
}
.transac .container {
align-content: center !important;
}
.transac .contback {
width: 75%;
font-family: 'Montserrat', sans-serif;
background: rgb(255, 255, 255, 0.8) !important;
text-align: center;
justify-content: center !important;
border-radius: 10px;
}
.transac .btn {
background: #943e08;
color: white;
border: none;
}
.transac .btn:hover {
background: black;
}
/* .transac .btn a {
font-family: 'Montserrat', sans-serif;
} */

.transac .back-btn {
    background-color: rgba(0, 0, 0, 0.945);
    float: left;
}

.transac .ListRequestsTitle {
    margin-bottom: 30px;
}
ul {
list-style: none;
}

.transaction-block {
    background: rgb(255, 255, 255, 0.7) !important;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 10px 0;
    padding: 10px;
    font-weight: 700;
}

.form-group {
width: 50%;
margin: 0 auto;
}
.requests {
padding-top: 30px;
padding-bottom: 55px;
}
/*text styles for content hr*/
.line {
border: solid 1px black;
}