/*styles for the background image*/
.user-profile .background-profile {
    background-image: url(../images/angel-leon-271147-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.user-profile .row {
margin-right: 0px !important;
margin-left: 0px !important;
}


/*styles for logo*/
.user-profile-logo {
margin-left: 20px;
margin-top: 20px;
}
/*styles for content*/
.user-profile .header {
font-family: 'Special Elite', cursive;
font-size: 3rem;
padding-bottom: 3px;
padding-top: 25px;
}
.paymline {
border: 1
}
.user-profile .container {
align-content: center !important;
}
.user-profile .contback {
width: 75%;
font-family: 'Montserrat', sans-serif;
background: rgb(255, 255, 255, 0.6) !important;
text-align: center;
justify-content: center !important;
border-radius: 10px;
}
.user-profile .btn {
background: #943e08;
color: white;
border: none;
}
.user-profile .btn:hover {
background: black;
}
/* .user-profile .btn a {
font-family: 'Montserrat', sans-serif;
} */

.user-profile .back-btn {
    background-color: rgba(0, 0, 0, 0.945);
    float: left;
}

.user-profile .info-row {
    justify-content: center;
    margin: 100px 0;
}

ul {
    list-style: none;
}

.user-profile .info-block {
    background: rgb(255, 255, 255, 0.7) !important;
    border: 1px solid black;
    margin: 10px 0;
    padding: 30px;
    font-weight: 700;
    text-align: left;
    font-size: 20px;
}

.form-group {
width: 50%;
margin: 0 auto;
}
.requests {
padding-top: 30px;
padding-bottom: 55px;
}
/*text styles for content hr*/
.line {
border: solid 1px black;
}