form.signup,
form.login {
  margin-top: 50px;
}

/*CSS used from Bootstrap*/ 

/*
 * Globals
 */

/* Styling to the background image for the signup page */
.background-signup {
  background-image: url(../images/bottle_hand.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
}

/* styling for the signup page*/
.container-fluid {
  width: 75%;
  font-family: 'Montserrat', sans-serif;
  background: rgb(255, 255, 255, 0.5) !important;
  text-align: center;
  justify-content: center !important;
  border-radius: 10px;
  margin-top: 10px; 
}

.line {
border: solid 1px black;
}

.btn-default {
  color: white;
  background-color: #943e08;
  padding: none;
  border: none;
}

.btn-default:hover {
  color: white;
  background-color: black;
}

.signupheader {
  font-size: 45px;
  font-family: 'Special Elite', cursive;
}

.smalltext {
  font-family: 'Special Elite', cursive;
  padding-top: 25px;
  font-size: 18px;
  color: black;
  padding-bottom: 20px;
}

.smalltext a {
  font-size: 18px;
  color: black;
}
/* Links */
.home a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.home .btn-secondary,
.home .btn-secondary:hover,
.home .btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

.home html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.home-background-image {
    background-image: url(../images/person_forest.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.home body {
  display: -ms-flexbox;
  display: flex;
  color: white;
}

.home .cover-container {
  max-width: 42em;
}

/*
 * Header
 */

 .home .cover-heading {
     color: white;
 }

 .home .leadpar {
     color: white;
 }

 .home .masthead {
  margin-bottom: 2rem;
}

.home .masthead-brand {
  margin-bottom: 0;
}

.home .nav-masthead .nav-link {
  padding: .25rem 0;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.home .nav-masthead .nav-link:hover,
.home .nav-masthead .nav-link:focus {
  border-bottom-color: black;
}

.home .nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.home .nav-masthead .active {
  color: black;
  border-bottom-color: #943e08;
}

.home #login {
  color: white;
    background-color: #943e08;
    margin-right: 30px;
}

.home #signup {
  color: white;
    background-color: #943e08;
    margin-left: 0;

}

.home #leadbutton {
        margin: 0 auto;
        text-align: center;
}

@media (min-width: 48em) {
  .home .masthead-brand {
    float: left;
  }
  .home .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
 .home .cover {
  padding: 0 1.5rem;
  margin-top: 30px;
  margin-bottom: 50px;
}
.home .cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
 .home .mastfoot {
  color:white;
}

.home a {
    color: white !important;
    text-decoration: none !important;
}

/*forms*/

.home .form-control {
    width: 50% !important;
    margin: 0 auto !important;
}

/* CREATE PAGE */
.create-background {
  position: absolute;
  z-index: -1;
  width: 100%;
}
.create .form-group {
  text-align: center;
  width: 100%;
}
.create .btn-primary {
  color: black;
  background-color: white;
  border-color: white;
  width: 100%;
}
.create .btn-primary:hover {
  background-color: rgb(53, 105, 53);
  border-color: rgb(53, 105, 53);
}
.create .btn-primary:active {
  background-color: rgb(86, 139, 86);
  border-color: rgb(86, 139, 86);
}
/* CREATE PAGE */
/* FAQ */
.faq-background {
  position: absolute;
  z-index: -1;
  width: 100%;
  top: -220px;
}
.faq .nav-links {
  color: black;
  font-size: 20px;
}
.faq .social {
  color: white;
  font-size: 50px;
}
/* FAQ */

/*profile */

.profile html, body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

/*navigation styles*/
.profile .navbar {
  background-color: #514f3f;
  color: white;
  font-size: 15px;
  position:absolute;
    width:100%;
    z-index:10;
    max-width:100%;
}

/* carousel styles */
.profile .carousel-inner img {
  width: 100%;
  height: 100%;
}

.profile .carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.profile .carousel-caption h1 {
  font-size: 75px;
  text-transform: uppercase;
  font-family: 'Inconsolata', cursive;
  text-shadow: 1px 1px 1px 15px #fff;
}

.profile .carousel-caption h3 {
  font-size: 40px;
  text-shadow: 1px 1px 1px 10px #fff;
  padding-bottom: 10px;
}

/* buttons */
.profile .btn-primary {
  background-color: #943e08 !important;
  border: 1px solid #943e08 !important;
}

.profile .btn-primary:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

/* .jumbotron {
  padding: 1rem !important;
  border-radius: 0 !important;
} */

/*dashboard styles*/
.profile .padding {
  padding-top: 35px;
  padding-bottom: 40px;
}

.profile .welcome {
  width: 75%;
  padding-top: 85px;
  margin: 0 auto !important;
}

.profile .welcome hr {
  border-top: 2px solid #514f3f;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

/* fontawesome icons */
.profile .fa-user-circle {
  color: #943e08 ;
}

.profile .fa-money-bill-alt {
  color: #678726;
}

.profile .fa-hat-wizard {
  color: #1e407c;
}

/* search and rate page */

.profile .dashboard {
  width: 75%;
  padding-top: 85px;
  margin: 0 auto !important;
}

.profile .dashboard hr {
  border-top: 2px solid #514f3f;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.profile .input-group {
  width: 70% !important;
  margin: 0 auto !important;
}

.profile .input-group-append {
  background-color:#943e08;
}

.profile #button-addon2 {
  color: white;
}

/*
Extra Small {xs} devices (portrait phones, less than 576px)
No Media query since this is the default in Bootstrap

Small {sm} devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium {md} devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large {lg} devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra Large {xl} devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

/*profile */
