/*styles for the background image*/
body {
    background: url(../images/bottle_hand.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* .transac .background-transactions {
    background-image: url(../images/bottle_hand.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
} */

 .row {
margin-right: 0px !important;
margin-left: 0px !important;
}

/*styles for logo*/
.transac-logo {
margin-left: 20px;
margin-top: 20px;
}

/*styles for content*/
 .header {
font-family: 'Special Elite', cursive;
font-size: 3rem;
padding-bottom: 3px;
padding-top: 25px;
}

.paymline {
border: 1
}

.container {
align-content: center !important;
}

.contback {
width: 75%;
font-family: 'Montserrat', sans-serif;
background: rgb(255, 255, 255, 0.5) !important;
text-align: center;
justify-content: center !important;
border-radius: 10px;
}


.btn {
background: #943e08;
color: white;
border: none;
}

.btn:hover {
background: black;
}

.btn a {
font-family: 'Montserrat', sans-serif;
}

.backButton {
    margin-left: 50px;
}

ul {
list-style: none;
}

.form-group {
width: 50%;
margin: 0 auto;
}

.requests {
padding-top: 30px;
padding-bottom: 55px;
}

/*text styles for content hr*/
.line {
border: solid 1px black;
}

li {
    font-weight: bolder;
}

.pendRequests {
    font-weight: bolder;
}

.appRequests {
    font-weight: bolder;
}
